<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH:mm:ss,SSS} [%t] [%5p] [%5L] [%C{1}.%M]: %n   %m%n%n"/>
        </layout>
    </appender>

    <appender name="processorIO" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./processorIO.log"/><!-- 设置日志输出文件名 -->
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <logger name="traceProcessorIO" additivity="false">
        <level value="info"/>
        <appender-ref ref="processorIO"/>
    </logger>


    <logger name="org.reflections.Reflections" additivity="false">
        <level value="error"/>
        <appender-ref ref="stdout"/>
    </logger>


    <logger name="org.reflections.ReflectionUtils" additivity="false">
        <level value="error"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="com.jd.rec.nl" additivity="false">
        <level value="debug"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>